*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    background: black;
    background: linear-gradient(100deg,rgba(0, 0, 0, 1) 20%, rgba(255, 0, 0, 1) 80%);
    color: white;
    min-height: auto;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  min-height: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, rgba(0, 0, 0, 1) 20%, rgba(255, 0, 0, 1) 80%);
  z-index: -1;
}
.container{
    margin: 0 auto;
    padding: 10px;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    font-family: 'Impact', sans-serif;
}
.glitch{
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to top, red, orange, yellow);
  background-clip: text;
  text-shadow:
    0 0 2px #ff6600,
    0 0 3px #ff3300,
    0 0 4px #ff0000;
  font-family: 'Impact', sans-serif;
  color: white;
  transition: all 0.6s ease;
  cursor: pointer;
  position: relative;
}
.glitch:hover{
    text-shadow: 
    0 0 10px #ff6600,
    0 0 12px #ff3300,
    0 0 10px #ff0000;
}
/* animation glitch */
.glitch:before,
.glitch:after {
    content: "TUANPHAT";
    position: absolute;
    left: 2px;
    z-index: -1;
    visibility: hidden;
} 
.glitch:before {
  animation: glitchTop 1.2s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.glitch:after {
  animation: glitchBotom 1.7s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitch {

  0%{
    transform: skew(0deg);
  }
  60% {
      transform: skew(5deg);
  }

  62% {
      transform: translate(-10px, 2px) skew(30deg);
  }

  64% {
      transform: translate(6px, -1px) skew(-15deg);
  }

}

@keyframes glitchTop {

  1%,
  60% {
      transform: translate(-2px, 0);
      visibility: visible;
  }

  64% {
      transform: translate(-5px, 1px);
      visibility: visible;
  }

  62% {
      transform: translate(15px, -1px) skew(-13deg);
      visibility: visible;
  }
}

@keyframes glitchBotom {

  1%,
  64% {
      transform: translate(-2px, 0);
      visibility: visible;
  }

  4%,
  60% {
      transform: translate(-2px, 0);
      visibility: visible;
  }

  62% {
      transform: translate(-22px, 5px) skew(21deg);
      visibility: visible;
  }
}
/* animation glitch */
nav{
    margin-right: 80px;
    padding: 16px;
}
nav ul{
  display: flex;
  gap: 100px;
  list-style: none;
  font-size: 25px;
}
li a{
  position: relative;
  text-decoration: none;
  color: white;
}
a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background-color: white;
  transition: width 0.3s ease; 
}
a:hover::before{
  width: 100%;
}
.button{
    display: flex;
    gap: 4px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.6s ease;
}
.button:hover{
transform: translateY(-5px);
box-shadow:0 0 20px white ;
}
.button:hover i{
  transform: rotate(360deg);
  transition: all 0.6s ease;
}
/* Header */
/* Main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 60px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border:2px solid whitesmoke ;
    height: 400px;
    padding: 20px;
    color: white;
    background: transparent;
    border-radius: 40px;
    font-family: 'Impact', sans-serif;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideLeft 1s ease-out forwards;
}
/* animation slideLeft */
@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
} 
/* animation slideLeft */
span{
    background: linear-gradient(to top, red, orange, yellow);
        background-clip: text;
        text-shadow:
          0 0 2px #ff6600,
          0 0 3px #ff3300,
          0 0 4px #ff0000;
        font-family: 'Impact', sans-serif;
}
.Description{
    width: fit-content;
    word-wrap: break-word;
}
.button_content{
    display: flex;
    gap: 15px;
}
.start{
    border-radius: 15px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    transition: all 0.6s ease;
    cursor: pointer;
    color: black;
    background: white;
}
.start h2{
    font-size: 15px;
}
.start:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px #ff6600,
    0 0 12px #ff3300,
    0 0 10px #ff0000;
    color: white;
    background: linear-gradient(to top, red, orange, yellow);
    background: white;
    text-shadow:
          0 0 2px #ff6600,
          0 0 3px #ff3300,
          0 0 4px #ff0000;
}
.start:hover i{
    transform: rotate(360deg);
    transition: all 0.6s ease;
    color: white;
    background: linear-gradient(to top, red, orange, yellow);
    background-clip: text;
    text-shadow:
          0 0 2px #ff6600,
          0 0 3px #ff3300,
          0 0 4px #ff0000;  
}
.readmore{
    border-radius: 15px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    transition: all 0.6s ease;
    cursor: pointer;
    color: black;
    
}
.readmore:hover i{
  transform: rotate(360deg);
  transition: all 0.6s ease;
  color: white;
  background: linear-gradient(to top, red, orange, yellow);
  background-clip: text;
  text-shadow:
        0 0 2px #ff6600,
        0 0 3px #ff3300,
        0 0 4px #ff0000;  
}
.readmore h2{
    font-size: 15px;
}
.readmore:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 10px #ff6600,
  0 0 12px #ff3300,
  0 0 10px #ff0000;
  color: white;
  background: linear-gradient(to top, red, orange, yellow);
  background: white;
  text-shadow:
        0 0 2px #ff6600,
        0 0 3px #ff3300,
        0 0 4px #ff0000;
}
.picture{
    animation: picture 2s infinite alternate ease-in-out;
    display: inline-block;
}
.picture img{
  border:2px solid whitesmoke;
  border-radius: 100px;
  overflow: hidden;
}
/* animation translate up down */
@keyframes picture {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
    
  }
/* animation translate up down */
.project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border:2px solid white ;
    width: 350x;
    height: 400px;
    padding: 20px;
    border-radius: 40px;
    background: linear-gradient(100deg,rgba(41, 29, 29, 1) 35%, rgba(173, 7, 7, 1) 75%);
    opacity: 0;
    transform: translateX(100%);
    animation: slideRight 1s ease-out forwards;
}
/* animation slideRight */
@keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* animation slideRight */
.button_project{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 120px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.6s ease;
    color: black;
}
.button_project:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 10px #ff6600,
  0 0 12px #ff3300,
  0 0 10px #ff0000;
  color: white;
  background: linear-gradient(to top, red, orange, yellow);
  background: white;
  text-shadow:
        0 0 2px #ff6600,
        0 0 3px #ff3300,
        0 0 4px #ff0000;
}
.button_project:hover i{
  transform: rotate(360deg);
  transition: all 0.6s ease;
  color: white;
  background: linear-gradient(to top, red, orange, yellow);
  background-clip: text;
  text-shadow:
        0 0 2px #ff6600,
        0 0 3px #ff3300,
        0 0 4px #ff0000;  
}
.start:hover i{
  transform: rotate(360deg);
  transition: all 0.6s ease;
  color: white;
  background: linear-gradient(to top, red, orange, yellow);
  background-clip: text;
  text-shadow:
        0 0 2px #ff6600,
        0 0 3px #ff3300,
        0 0 4px #ff0000;  
}
/* project */
/* section */
section{
  margin-top: 250px;
}
.HOBBIES{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(to top, red, orange, yellow);
  background-clip: text;
  text-shadow:
    0 0 2px #ff6600,
    0 0 3px #ff3300,
    0 0 4px #ff0000;
  font-family: 'Impact', sans-serif;
  color: white;
  animation: blinkColor 2s infinite;
  margin-left: 30px;
}
/* animation blinkColor */
@keyframes blinkColor{
  0% {
    text-shadow:
    0 0 2px #ff6600,
    0 0 3px #ff3300,
    0 0 4px #ff0000;;
  }
  25% {
    text-shadow:
    0 0 5px #ff6600,
    0 0 6px #ff3300,
    0 0 7px #ff0000;
  }
  50% {
    text-shadow:
    0 0 8px #ff6600,
    0 0 9px #ff3300,
    0 0 10px #ff0000;
  }
  75% {
    text-shadow:
    0 0 5px #ff6600,
    0 0 6px #ff3300,
    0 0 7px #ff0000;
  }
  100% {
    text-shadow:
    0 0 2px #ff6600,
    0 0 3px #ff3300,
    0 0 4x #ff0000;
  }
}
/* animation blinkColor */
.lifestyle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.imgbackground{
  background: black;
  animation: picture 2s infinite alternate ease-in-out;
}
.imgbackground2{
  height: 440px;
}
.imgbackground3{
  height: 450px;
}
.text_lifestyle{
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 5px 5px;
  color: white;
  font-family: 'Impact', sans-serif;
  font-size: 30px;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
}
.imglstyle{
  max-height: 340px;
  border: 7px solid black;
  display: block;
}
.imgbackground p{
  color: white;
  padding: 1px 7px 6px 10px;
}
.p3{
  justify-content: center;
  align-items: center;
}
.text_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 30px;
  font-weight: bold;
  background: linear-gradient(to top, red, orange, yellow);
  background-clip: text;
  text-shadow:
    0 0 2px #ff6600,
    0 0 3px #ff3300,
    0 0 4px #ff0000;
  font-family: 'Impact', sans-serif;
  animation: blinkColor 2s infinite;
}
.iconcontact a{
  color: white;
  position: relative;
}
.iconcontact{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 30px;
}
a i{
  transition: all 0.6s ease;
}
a i:hover{
  transform: translateY(-5px);
}
a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background-color: white;
  transition: width 0.3s ease; 
}
a:hover::before{
  width: 100%;
}
.custom_hr{
  border: none;
  height: 2px;
  background-color: white;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* flame */
.fire-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
  }
  
  .spark {
    position: absolute;
    bottom: 0;
    width: 4px;
    height: 4px;
    background: orange;
    border-radius: 50%;
    animation: rise 4s infinite ease-in;
    opacity: 0.7;
  }
  .spark:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
  }
  .spark:nth-child(2) {
    left: 25%;
    animation-delay: 1s;
  }
  .spark:nth-child(3) {
    left: 40%;
    animation-delay: 2s;
  }
  .spark:nth-child(4) {
    left: 55%;
    animation-delay: 3s;
  }
  .spark:nth-child(5) {
    left: 70%;
    animation-delay: 4s;
  }
  .spark:nth-child(6) {
    left: 85%;
    animation-delay: 1.5s;
  }
  .spark:nth-child(7) {
    left: 33%;
    animation-delay: 2.5s;
  }
  .spark:nth-child(8) {
    left: 60%;
    animation-delay: 0.5s;
  }
  .spark:nth-child(9) {
    left: 15%;
    animation-delay: 3.5s;
  }
  .spark:nth-child(10) {
    left: 90%;
    animation-delay: 2s;
  }
  
  @keyframes rise {
    0% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateY(-1000px) scale(0.2);
      opacity: 0;
    }
  }
  /* flame */
  /* reponsive */
  @media (min-width: 425px) {
    body{
      min-width: 1300px
    }
    .background{
      min-width: 1300px
    }
    .fire-container{
      min-width: 1300px
    }
    .container{
      max-width: 1300px;
    }
    .content{
      max-width: 260px;
    }
    .imgbackground3{
        max-width: 290px;
    }
    .imglstyle{
      max-width: 340px;
  } 
  .img1{
    max-height: 330px;
    max-width: 330px;
  }
  .img3{
    max-height: 320px;
    max-width: 300px;
  }
  .img2{
    max-height: 320px;
    max-width: 330px;
  }
  .imgbackground p{
    max-height: 330px;
    max-width: 330px;
  }
}
@media (max-width:425px){
.container{
  max-width: 90%;
}
header{
  margin-bottom: 40px;
}
.glitch{
font-size: 20px;
} 
ul li{
  display: flex;
}
nav{
  margin-right: 0;
}
nav ul{
 gap: 5px;
}
li a{
  font-size: 10px;
}
.button {
  width: 55px;
  height: 20px;
  padding: 5px;
  gap: 2px;
}
.button:hover{
  transform: translateY(-2px);
}
.button i{
  font-size: 10px;
}
.button p{
  font-size: 8px;
  flex-wrap: nowrap;
}
a::before{
  height: 1px;
}
main{
  gap: 15px;
  margin-top: 20px;
}
.content{
  max-width: 80px;
  max-height: 120px;
  border-radius: 15px;
  padding: 7px;
  gap: 5px;
  border: 1px solid white;
}
.content h1{
  font-size: 9px;
}
.content p{
  font-size: 5px;
}
.Description{
  white-space: nowrap;
}
.button_content{
  gap: 3px;
}
.start{
  display: flex;
  flex-direction: column;
  width:30px;
  height: 12px;
  padding: 1px;
  border: 0.3px solid black;
  border-radius: 3px;
}
.start i{
  font-size: 6px;
}
.start h2{
  font-size: 3px;
}
.start:hover{
  transform: translateY(-1px);
}
.readmore{
  display: flex ;
  flex-direction: column;
  width:30px;
  height: 12px;
  padding: 1px;
  border: 0.3px solid black;
  border-radius: 3px;
}
.readmore i{
  font-size: 6px;
}
.readmore h2{
  font-size: 3px;
}
.readmore:hover{
  transform: translateY(-2px);
}
.picture img{
  max-width: 130px;
  max-height: 220px;
  border-radius: 30px;
}
.project{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  height: 120px;
  border-radius: 15px;
  padding: 2px;
  gap: 3px;
  border: 1px solid white;
}
.button_project{
  width: 65px;
  height: 30px;
  border: 0.3px solid black;
  border-radius: 5px;
  gap: 2px;
}
.button_project:hover{
  transform: translateY(-2px);
}
.button_project i{
  font-size:6px;
}
.button_project h2{
  font-size: 5px;
}
.button_project p2{
  font-size: 3px;
}
.lifestyle{
  flex-direction: column;
}
}

    
    

  
  


